{%- if include.stream -%}
  {%- assign target = site.streams | where: 'category_id', include.stream | first -%}
{%- elsif include.calendar -%}
  {%- assign target = site.calendars | where: 'category_id', include.calendar | first -%}
{%- elsif include.post -%}
  {%- assign target = site.posts | where: 'path', include.post | first -%}
{%- elsif include.page -%}
  {%- assign target = site.pages | where: 'path', include.page | first -%}
{%- endif -%}
{%- if include.class -%}
  {%- assign class_attr = 'class="' | append: include.class | append: '"' -%}
{%- else -%}
  {%- assign class_attr = '' -%}
{%- endif -%}
{%- if include.style -%}
  {%- assign style_attr = 'style="' | append: include.style | append: '"' -%}
{%- else -%}
  {%- assign style_attr = '' -%}
{%- endif -%}
{%- if include.sub -%}
  {%- assign hash = '#'' | append: include.sub -%}
{%- else -%}
  {%- assign hash = '' -%}
{%- endif -%}
{%- if include.md_ref -%}
  {{- target.url | relative_url -}}{{- hash }} "{{- target.title }} ({{- target.description -}})"
{%- else -%}
  <a href="{{- target.url | relative_url -}}{{- hash -}}" title="{{- target.description -}}"{{- class_attr -}}{{- style_attr -}}>{{- target.title -}}</a>
{%- endif -%}
{%- comment -%} съедаем финальный перенос строки {%- endcomment -%}
