<details style="margin-top:10px;">
  <summary style="padding: 5px;cursor: pointer;background-color: #DDD;">Генерировать встройку</summary>

  {% capture embed %}
      <section style="display: table; margin-top: 10px; border: 1px solid #c5d3da; box-shadow: 1px 1px 3px #c5d3da; padding: 10px; color: #444; font-family: 'PT Sans', Arial, Helvetica, sans-serif;">
        <header style="padding: 5px; border: 1px solid #c5d3da; background-color: #edf2f4; font-size: 90%; color: #3e5662;">
          <p style="margin:0px;">Рубрики: {% include nova/categories-only.html item=page %}</p>
          <p style="margin:0px;">{{ page.date | date: site.date_format }} • {{ page.author | default: site.author }}</p>
        </header>

        <h3 id="{{- page.url | relative_url | slugify -}}">
          <a
            href="{{- page.url | relative_url -}}"
            title="{{- page.description -}}"
            >{{- page.title -}}</a
          >
        </h3>

        <style>
          a.footnote::after { content: ")"; }
        </style>

        {{- page.excerpt -}} {%- if page.content contains site.excerpt_separator -%}
        <hr style="width:90%;border:1px dotted #c5d3da;" />
        <p class="small">
          <a href="{{- site.url -}}{{- page.url | relative_url -}}">Читать далее на <b>shikhalev.org</b> »</a
          >
        </p>
        {%- endif -%}
        {%- if page.tags and page.tags.size > 0 -%}
          <footer style="padding: 5px; border: 1px solid #c5d3da; background-color: #edf2f4; font-size: 90%; color: #3e5662;clear: both;">
            <p style="margin:0px;">Теги: {% include nova/tags.html item=page %}</p>
          </footer>
        {%- endif -%}
      </section>
  {% endcapture %}

  {% assign embed2 = embed | replace: '</a>​<a', '</a>, <a style="color: #3e5662;"' %}
  {% assign embed2 = embed2 | replace: '>Рубрики: ​<a', '>Рубрики: ​<a style="color: #3e5662;"' | replace: '>Теги: ​<a', '>Теги: ​<a style="color: #3e5662;"' %}
  {% assign embed2 = embed2 | replace: 'href="/', 'href="https://shikhalev.org/' %}
  {% assign embed2 = embed2 | replace: 'src="/', 'src="https://shikhalev.org/' %}
  {% assign embed2 = embed2 | replace: 'class="strict-', 'class="' %}
  {% assign embed2 = embed2 | replace: 'class="right"', 'style="float:right;margin:10px 0px 10px 10px;border: 1px solid #c5d3da; box-shadow: 1px 1px 3px #c5d3da;"' %}
  {% assign embed2 = embed2 | replace: 'class="right logo"', 'style="float:right;margin:10px 0px 10px 10px;"' %}
  {% assign embed2 = embed2 | replace: 'class="left"', 'style="float:left;margin:10px 10px 10px 0px;border: 1px solid #c5d3da; box-shadow: 1px 1px 3px #c5d3da;"' %}
  {% assign embed2 = embed2 | replace: 'class="left logo"', 'style="float:left;margin:10px 10px 10px 0px;"' %}
  {% assign embed2 = embed2 | replace: 'class="center"', 'style="float:none;margin:10px auto;border: 1px solid #c5d3da; box-shadow: 1px 1px 3px #c5d3da;"' %}
  {% assign embed2 = embed2 | replace: 'class="center logo"', 'style="float:none;margin:10px auto;"' %}
  {% assign embed2 = embed2 | replace: 'class="square"', 'style="aspect-ratio:1/1;display: block;border: 0px;	margin: 0px;padding: 0px;width: 100%;"' %}
  {% assign embed2 = embed2 | replace: '<h3', '<h3 style="font-size:27px;font-weight:normal;margin:10px 0px;"' %}
  {% assign embed2 = embed2 | replace: '<p>', '<p style="margin: 5px 0px;text-align: justify; hyphens:auto;">' %}
  {% assign embed2 = embed2 | replace: '<sup', '<sup style="font-size:70%;"' %}
  {% assign embed2 = embed2 | replace: '<img', '<img style="width:100%;display:block;"' %}
  {% assign embed2 = embed2 | replace: '<figcaption', '<figcaption style="text-align:center;font-style:italic;padding:0px;margin:2px;0px;5px;"' %}
  {% assign embed2 = embed2 | replace: 'class="note"', 'style="font-size:90%;margin:5px 2em;text-align: justify; hyphens:auto;"' %}
  {% assign embed2 = embed2 | replace: 'class="note italic"', 'style="font-size:90%;margin:5px 2em;font-style: italic;text-align: justify; hyphens:auto;"' %}
  {% assign embed2 = embed2 | replace: 'class="footnotes"', 'style="font-size:80%"' %}
  {% assign embed2 = embed2 | replace: 'class="image-box"', 'style="display: flex; flex-wrap: wrap; align-items: flex-start; justify-content: center; column-gap: 20px; row-gap: 10px; margin: 10px 0px;"' %}
  {% assign embed2 = embed2 | replace: 'class="inner"', 'style="padding:0px;margin:0px;"' %}
  {% assign embed2 = embed2 | replace: ';" style="', ';' %}
  {% assign embed2 = embed2 | replace: 'fn:', 'e-fn:' %}
  {% assign embed2 = embed2 | replace: 'fnref:', 'e-fnref:' %}

  {{ embed2 }}

  <iframe id="embed-result" style="width: 100%;aspect-ratio: 1/1;" srcdoc="{{embed2 | xml_escape}}"></iframe>

  <textarea style="width: 100%; height: 600px;">
    {{ embed2 | xml_escape }}
  </textarea>
</details>


{% comment %} TODO: pre {% endcomment %}
